@tailwind base;
@tailwind components;

.header-container{
    background-image: url(images\pawel-czerwinski-Z4DD9_kAAfk-unsplash.jpg);
}

li{
    display: flex;
    align-items: center;
    color: white;
}
li:hover{
    text-decoration: underline solid 2px;
    transition: all 0.3s ease-in;
}

svg{
    margin-left: 0.5rem;
    cursor: pointer;
}

.h1{
    @apply mt-8 font-semibold text-lg mb-4
}

.below{
    @apply font-light text-sm text-white
}
 .linespace{
     @apply leading-8
 }
 
 .hov:hover{
     cursor: pointer;
    text-decoration: underline solid 2px;
    transition: all 0.3s ease-in;
}
@tailwind utilities;

